@use '../base/variables' as v;
@use '../base/mixins' as m;

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: v.$aircraft_white;
    font-family: v.$body-font;
    font-size: 1.3rem;
    color: v.$infinity_and_beyond;
    display: grid;
    place-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    width: 100%;
    display: block;
}

/* custom classes */
#root {
    min-width: 375px;
    max-width: 730px;
}

.wrapper {
    padding: 0 2.4rem;

    @include m.desktop {
        padding: 0;
    }
}