/* Fonts */
$body-font: 'Manrope', sans-serif;

/* Media Queries */
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

/* Primary Colors */
$rainmaker: hsl(217, 19%, 35%);
$infinity_and_beyond: hsl(214, 17%, 51%);
$sterling_silver: hsl(212, 23%, 69%);
$aircraft_white: hsl(210, 46%, 95%);

/* Typo */
$f-size: 1.3rem;
$w-medium: medium;
$w-bold: bold;