@use '../src/scss/base';
@use './scss/base/variables' as v;
@use './scss/base/mixins' as m;

.article {
    background-color: #FFF;
    border-radius: 1rem;
    box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.50);
    display: grid;
    height: 51.2rem;
    overflow: hidden;

    @include m.desktop {
        display: grid;
        grid-template-columns: 285px 1fr;
        height: 28rem;
        overflow: visible;
    }

    &__cover {
        height: 20rem;
        background: url(./assets/images/drawers.jpg);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;

        @include m.desktop {
            height: auto;
            background-position: 0;
        }
    }

    &__content {
        padding: 3.6rem 3.2rem 2rem 3.2rem;
        position: relative;

        @include m.desktop {
            padding: 3.2rem 4rem;
        }
    }

    &__tagline {
        color: v.$rainmaker;
        font-size: 1.6rem;
        font-weight: v.$w-bold;
        line-height: 24px;
        letter-spacing: 0.2px;

        @include m.desktop {
            font-size: 2rem;
            line-height: 28px;
            letter-spacing: 0.25px;
        }
    }

    &__description {
        color: v.$infinity_and_beyond;
        font-weight: v.$w-medium;
        line-height: 20px;
        letter-spacing: 0.122px;
        margin-top: 1.2rem;
    }

    &__author {
        margin-top: 3.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include m.desktop {
            margin-top: 2rem;
        }
    }

    &__author-content {
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
    }

    &__image-container {
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;
        overflow: hidden;
    }

    &__author-data {
        display: flex;
        flex-direction: column;
    }

    &__author-name {
        color: v.$rainmaker;
        font-weight: v.$w-bold;
        line-height: 20px;
        letter-spacing: 0.122px;
    }

    &__author-date {
        color: v.$sterling_silver;
        font-weight: v.$w-medium;
        line-height: 20px;
        letter-spacing: 0.122px;
    }

    &__share {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        background-color: v.$aircraft_white;
        display: grid;
        place-items: center;

        & img {
            width: 1.5rem;
            height: 1.3rem;
        }
    }
}