@use './scss/base/variables' as v;
@use './scss/base/mixins' as m;

.share {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6.4rem;
    background-color: v.$rainmaker;
    border-radius: 0px 0px 10px 10px;
    padding: 1.6rem 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 5s ease;

    @include m.desktop {
        width: 24.8rem;
        border-radius: 1rem;
        padding: 1.8rem 3.6rem 1.6rem 3.7rem;
    }

    &__social {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.1rem;
    }

    &__title {
        color: v.$sterling_silver;
        font-weight: v.$w-medium;
        line-height: 20px;
        letter-spacing: 5px;
    }

    &__icons {
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
        color: #FFF;
        font-size: 2rem;
    }

    &__share {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        background-color: v.$infinity_and_beyond;
        display: grid;
        place-items: center;

        @include m.desktop {
            display: none;
        }

        & img {
            width: 1.5rem;
            height: 1.3rem;

            & path {
                fill: #FFF;
            }
        }
    }

    &.visible {
        opacity: 1;
        transition: opacity 0.3s;
    }
}